@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Nunito:wght@400;900&family=Raleway:wght@900&family=Roboto&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9aacba;
    text-align: center; 
}

.grid{
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows:  auto auto 1fr auto;  
    min-height: 100vh;
}

.header {
    top: 0;
    background-image: linear-gradient(black, rgb(54, 54, 54));
    grid-row: 1;
    grid-column: 1 / 3;
    color:antiquewhite;
    padding: 20pt;
}

.header h1 {
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    font-size: 3em;
}

.header h3 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 1.5em;
}

.menu {
    grid-row: 2;
    grid-column: 1 / 3;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(54, 54, 54);
}

@media screen and (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: stretch;
        padding: 0 0em;
        }   
}

nav li{
    list-style: none;
    font-family: "Roboto Mono", sans-serif;
    font-size: 2vw;
    border-radius: 0%;
    width:20%;
    flex-grow: 1;  
}

nav a{
    padding:2pt;
    text-decoration: none;
    color: antiquewhite;
    width: 100%;
    display: block;
}

nav a:hover {
    background-color: #9aacba3a;
}

nav a:active {
    text-decoration: dotted;
    color:aqua;
}

nav .current {
    text-shadow: 1px 1px  rgba(0, 0, 0, 0.452);
    background-color: #9aacba;
}

.footer {
    background-color: rgb(54, 54, 54);
    color:antiquewhite;
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    grid-row: 10;
    grid-column: 1 / 3;
    height: 30pt;   
    padding-top: 8pt;
    bottom: 0;
}

/* För enheter med mindre skärm */
@media screen and (max-width: 600px) {
    nav li{
        list-style: none;
        font-size: 8pt;
        display: grid;   
        align-content: center;
    }

    nav a {
        padding: 0;
    }

    .grid {
        grid-template-columns: 1fr;
        align-content: center;
    }

    .header {
        grid-row: 1;
        padding-bottom: 0;
    }

    nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: stretch; 
        align-content: stretch; 
        padding: 0    
    }

    .menu {
        grid-row: 2;
        grid-column: 1 / 3;
        position: sticky;
        top: 0;
        padding-top: 2%;
        height: 2.5em;
        background-color: rgb(54, 54, 54);
    }
}